/* Selector universal */

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}


@font-face {
    font-family: 'BlueSignature';
    src: url('../fonts/BlueSignature.otf');
}

h1 {
    color: rgb(128, 0, 0);
    font-size: 100px;
    font-weight: bold; 
}

h2 {
    color: rgb(128, 0, 0);
    font-size: 80px;
    font-weight: bold; 
}

h3 {
    color: rgba(0, 119, 128, 0.993);
    font-size: 30px;
    
}


.tipohelado{
    list-style: circle ;
    font-size: 20px;
}

.sabor{
    list-style: lower-roman ;
    font-size: 20px;
}


.centrar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

 .centrar.principal{
    font-family: 'BlueSignature';     
 }


 

 .arriba{
    position: sticky;
    display: flex;
    align-items: center;
 }

 .logos{
    display: flex;
    justify-content: center;
}


header.cabecera {
    position: relative;
}  



/* Barra de navegacion */
nav.navbar {
    position: sticky;
    background-color: #bace03;
}

.navbar ul {
    display: flex;
   align-items: center;
   justify-content: space-evenly;
} 

.navbar ul li {
    padding: 10px;
    margin: 5px;
} 


nav.navsabor {
    position: sticky;
    background-color: white;
}

.navsabor ul {
    display: flex;
   align-items: center;
   justify-content: space-evenly;
} 

.navsabor ul li {
    padding: 10px;
    margin: 5px;
} 

/* Selector por ID */

#tabla{
    border: 1px solid blue;
    border-collapse: collapse;
    width: 50%;
}

table tr {
	text-align: left;
    width: 100%;
    font-size: 25px;

}



.button1 {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #54af4c;
}

.button2 {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #af744c;
}


tr {
    border: 1px solid blue;
    width: 60%;
}

/* BOX MODEL */

.box {
    display: inline-block;
    background-color: rgb(203, 219, 248);
    height: 300px;
    width: 300px;
 border-width: 2px;
    padding-left: 10px;
    padding: 10px 30px;
    overflow: scroll;
    box-sizing: border-box;
    margin: 10px 20px;
}
